@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200&display=swap");

.maincard img {
  width: 300px;
  border-radius: 10px 10px 0px 0px;
}

.title {
  font-size: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.maincard {
  margin: 10px;
  border: 1px rgba(182, 202, 252, 0.582) solid;
  border-radius: 10px;
}
