@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200&display=swap");

.navbar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: rgb(73, 151, 245);
}
